.button {
    outline: none;
    border: none;
    background: #293356;
    padding: 12px 46px;
    border-radius: 20.5px;
    font-weight: 800;
    font-size: .75em;
    line-height: 16px;
    text-align: center;
    color: #BECDFF;
    transition: all .3s;
    &:hover {
        color:#fff;
    }

    &_modal {
        margin-top: 30px;
        text-transform: uppercase;
    }
}