.triangle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 40px;
    height: 10px;
    top: -14px;
    // transform: translateX(9px);
    button {
        outline: none;
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        background: none;
        height: 15px;
        width: 4px;
        margin-right: 6px;
        &:nth-child(2) {
            margin-right: 0;
        }
    }
}